#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1201;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1202; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#container {
     width: 640px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#close {
    position: relative;
    z-index: 1000;
    right: 0;
    top: 40px;
}

.thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 570px;
}