<div class="window" style="width: 400px;">
    <div class="window-caption">
        <span class="window-caption-icon"><span class="mif-windows"></span></span>
        <span class="window-caption-title">Name Letter</span>
       
        <span class="btn-close"></span>
    </div>
    <div class="window-content" style="height: 200px">
      <label >Type the name of the customer?</label>
      <br>
        <div class="input-control text full-size">
            <input type="text">
        </div>
        <label >Suggestions</label>
        <div class="input-control select">
            <select>
                <option>CHAPA HECTOR</option>
                <option>GOMEZ JOSE</option>
            </select>
        </div>
    </div>
</div>