<div id="base"  style="position: absolute;right: 0; z-index: 2500;" class="dropdown-button place-right baseStyle">
  <button class="button rounded dropdown-toggle">Basemaps</button>
  <ul class="split-content d-menu place-right" style="min-width: 0;" data-role="dropdown">
      <li><a (click)="changeBase(mapflex)">Original</a></li>
      <li><a (click)="changeBase(vsub)">Vector Sub</a></li>
      <li><a (click)="changeBase(varrow)">Vector Arrow</a></li>
      <li><a (click)="changeBase(wms)">Aerial</a></li>
      <li><a (click)="changeBase(google)">Google</a></li>
  </ul>
</div>