
        <div class="grid">
            <div class="row cells2">
                <div class="cell">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Street</label>
                        <br>
                        <div class="input-control text full-size">
                            <input type="text" [(ngModel)]="name" uppercase>
                            <span *ngIf="nameError" style="color: red;">Please Enter Name</span>
                        </div>
                      </div>
                      <br>
                      <div class="form-group">
                          <label class="col-md-2 control-label">Low</label>
                          <br>
                          <div class="input-control text full-size">
                              <input type="text" [(ngModel)]="low">
                              <span *ngIf="lowError" style="color: red;">Please Enter Low</span>
                          </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="col-md-2 control-label">High</label>
                            <br>
                            <div class="input-control text full-size">
                                <input type="text" [(ngModel)]="high">
                                <span *ngIf="highError" style="color: red;">Please Enter High</span>
                            </div>
                          </div>
                          <br>
                          <div class="form-group">
                              <div >
                                <input  type="button" (click)="addStreet()" value="Insert" class="btn btn-primary">
                              </div>
                            </div>
                </div>
                <div class="cell">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Listed Street(s)</th>
                            <th>Low</th>
                            <th>High</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr (click)="removeItem(i)" *ngFor="let street of workSheet.attributes.streets; let i = index">
                                <td>{{street.st_name}}</td>
                                <td>{{street.low}}</td>
                                <td>{{street.high}}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
        <hr>
         <h2 style="text-align: center;">Plat Received From</h2>
         
         <br>
         <br>
         <div>
           <label class="input-control checkbox">
                <input [(ngModel)]="workSheet.attributes.LV.eng_dev.checkbox" type="checkbox" >
                <span  class="check"></span>
                <span  class="caption">ENGINEER/DEVELOPER</span>
                
           </label>
         </div>
         <div class="input-control text full-size">
            <input [(ngModel)]="workSheet.attributes.LV.eng_dev.date" type="text" uppercase>
        </div>
         <br>
         <br>
         <div>
            <label class="input-control checkbox">
                <input [(ngModel)]="workSheet.attributes.LV.online_carson.checkbox" type="checkbox" >
                <span  class="check"></span>
                <span  class="caption">ONLINE/CARSONS</span>
            </label>
         </div>
         <div class="input-control text full-size">
            <input  [(ngModel)]="workSheet.attributes.LV.online_carson.date"  type="text">
        </div>
         <br>
         <br>
         <div>
            <label class="input-control checkbox">
                <input [(ngModel)]="workSheet.attributes.LV.city.checkbox" type="checkbox" >
                <span  class="check"></span>
                <span  class="caption">CITY</span>
                
            </label>
         </div>
         <div class="input-control text full-size">
            <input [(ngModel)]="workSheet.attributes.LV.city.date" type="text">
        </div>
        <hr>
        <div class="input-control text full-size">
            <input type="text" placeholder="Address By" uppercase>
           
        </div>
        <div class="input-control text full-size">
            <input [(ngModel)]="workSheet.attributes.LV.date_sign_off" type="text" placeholder="Date Sign Off" uppercase>
           
        </div>
        <div class="input-control text full-size">
                <input type="text" placeholder="Sign Off By" uppercase>
               
            </div>