<div class="window">
  <div class="window-caption">
      <span class="window-caption-icon"><span class="mif-windows"></span></span>
      <span class="window-caption-title">NRF Form</span>
      <span class="btn-min"></span>
      <span class="btn-max"></span>
      <span class="btn-close"></span>
  </div>
  <div class="window-content" style="height: 400px">
    <form >
      <div class="input-control text full-size">
        <input type="text">
      </div>
      <!-- input[type=password] -->
      <div class="input-control password full-size">
        <input type="password">
      </div>
      <!-- input with placeholder -->
      <div class="input-control text full-size">
        <input type="text" placeholder="Input you text here...">
      </div>
      <!-- readonly input -->
      <div class="input-control text full-size">
        <input type="text" readonly>
      </div>
      <!-- disabled input -->
      <div class="input-control text full-size">
        <input type="text" disabled>
      </div>
    </form>
  </div>
</div>

