<div class="window">
  <div class="window-caption">
      <span class="window-caption-icon"><span class="mif-windows"></span></span>
      <span class="window-caption-title">NRF Form</span>
      <span class="btn-min"></span>
      <span class="btn-max"></span>
      <span class="btn-close"></span>
  </div>
  <div class="window-content" style="height: 400px">
      <div class="tabcontrol" data-role="tabcontrol">
          <ul class="tabs">
              <li><a href="#info" >Info</a></li>
              <li><a href="#notes" >Notes</a></li>
          </ul>
          <div class="frames">
              <div class="frame ribbed-white" id="info">
                  <form >
                      <label >PSAP Name</label>
                    <div class="input-control text full-size">
                      
                      <input type="text">
                    </div>
                    <label >Host PSAP Name</label>
                    <div class="input-control password full-size">
                      
                      <input type="text">
                    </div>
                    <label >Date</label>
                    <div class="input-control text full-size">
                      <input type="text" >
                    </div>
                    <label >Time</label>
                    <div class="input-control text full-size">
                      <input type="text" >
                    </div>
                    <label >Call One</label>
                    <div class="input-control text full-size">
                      <input type="text" >
                    </div>
                    <label >Call Two</label>
                    <div class="input-control text full-size">
                      <input type="text" >
                    </div>
                    <label >Call Three</label>
                    <div class="input-control text full-size">
                      <input type="text" >
                    </div>
                  </form>
              </div>
              <div class="frame ribbed-white" id="notes">
                
              </div>
          </div>
      </div>
  </div>
</div>

