<div class="window" style="position: absolute;top: 8px;left:4px; z-index:2000;width: 99%;height:auto;">
    <div class="window-caption">
      <span class="window-caption-icon"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
      <span class="window-caption-title">Files</span>
      <span class="pull-right">
          <button (click)="closeWindow()" class="button btnSize">
              <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
        </span>
      <span class="pull-right">
        <button (click)="maximizeMap()" class="button btnSize">
            <i class="fa fa-window-restore" aria-hidden="true"></i>
        </button>
      </span>
      <span class="pull-right">
        <button (click)="minimizedMap()" class="button btnSize">
            <i class="fa fa-window-minimize" aria-hidden="true"></i>
        </button></span>
    </div>
    <div class="window-content" style="overflow: auto;">
      <app-master-loading [regularLoading]="true" *ngIf="isLoading"></app-master-loading>
      <div class="container">
          <div class="grid no-margin-top">
              <div *ngFor="let i of rows" class="row cells3"  >
                  <div *ngFor="let pic of pics | slice:(i*3):(i+1)*3"  class="cell" >
                    <div class="image-container">
                        <div class="frame">
                          <img [src]="pic.preview" />
                        </div>
                        <div class="image-overlay op-green">
                        <h2>File Name</h2>
                        <p>
                            {{pic.file_name}}
                        </p>
                        </div>
                      </div>
                        <button type="button" name="button" class="button" (click)="downloadFile(pic.file_name)">Download</button>
                        <button type="button" (click)="deleteAttach(pic.file_name)" name="button" class="button bg-red fg-white">Delete</button>
                      
                  </div>
                   
             </div>
            </div>
      </div>
      
    </div>
</div>






