<div style="position: absolute;width: 40%; left: 50%; margin-left: -20%; background: white;z-index: 1000;">
  <div class="window">
    <div class="window-caption">
        <span class="window-caption-icon"><span class="mif-windows"></span></span>
        <span class="window-caption-title">Bookmarks</span>
      
        <span (click)="onClose()" class="btn-close"></span>
    </div>
    <div class="window-content" style="height: 30%">
      <div style="margin-left: 20px;">
          <table class="table">
              <thead>
                  <tr>
                      <th class="sortable-column">Name</th>
                      <th class="sortable-column">Comments</th>
                      <th class="sortable-column"><button (click)="addRow()" class="button cycle-button">+</button></th>
                  </tr>
              </thead>

              <tbody>
                  <tr *ngFor="let mark of bookmarks">
                      <td>{{((mark.binput) ? '': mark.bookmark_name)}}
                          <input *ngIf="mark.binput" type="text" [(ngModel)]="mark.bookmark_name">
                      </td>
                      <td>{{((mark.binput) ? '' : mark.bookmark_comments)}}
                        <input *ngIf="mark.binput" type="text" [(ngModel)]="mark.bookmark_comments">
                      </td>
                      <td>
                        <div *ngIf="!mark.binput">
                            <button *ngIf="mark.bappear" (click)="onZoom(mark)" (mouseleave)="appearButton(mark);" class="button rounded">Zoom!</button>
                            <button *ngIf="!mark.bappear" (click)="onZoom(mark)" (mouseover)="appearButton(mark);" class="button cycle-button">Z!</button>
                            <button class="button cycle-button" (click)="onDelete(mark.bookmarks_id)" >X</button>
                        </div>
                        <button *ngIf="mark.binput" class="button rounded" (click)="onSave(mark)" >Save</button>
                      </td>
                  </tr>
                 
               </tbody>
          </table>
      </div>
      
    </div>
</div>
</div>
