#container {
    position: absolute;
    left: 0;
    width: 50%;
    height: calc(100% - 190px);
    z-index: 4000;
    background: rgba(48,48,48, 0.7);
    cursor: pointer;
    overflow: auto;
}

#arrow {
    position: absolute;
    left: -126px;
    height: 50px;
    z-index: 1000;
    cursor: pointer;
    display: none;
   
}
#arrow:hover{
    left: 0;
}

#container:hover{
    opacity: 1;
}

#piccontainer{
    padding: 8px;
}

#line {
    border-bottom: 1px solid #e6e6e6;
}

#sub {
    padding: 10px 10px 0;
}