<div id="arrow">
    <button (click)="unMini()" class="button">Identify Results <i class="fa fa-angle-double-right"></i></button>
</div>
<div id="container">

    <div class="window">
        <div class="window-caption">
            <div class="window-caption-title">Identify Results
                    
                <button (click)="onClose()" class="button cycle-button pull-right">X</button>
                <button (click)="onMini()" class="button cycle-button pull-right">
                        <i class="fa fa-window-minimize"></i>
                </button>
            </div>
        </div>
    </div>
        
            <br>
            <br>
  <div id="sub" *ngFor="let item of list; let i = index">

    <div class="panel">
        <div class="heading">
            <span class="title">{{item.layerName}}</span>
            <button (click)="viewFeature(item, i)" class="button cycle-button">
                <i *ngIf="!item.display" class="fa fa-plus"></i>
                <i *ngIf="item.display"  class="fa fa-minus"></i>
            </button>
        </div>
        <div *ngIf="item.display" class="content">
                <table class="table"  style="padding-left:100px;" cellspacing="0" cellpadding="5" border="0">
                        <tbody>
                            <tr *ngFor="let item of item.feature.attributes | keys">
                                <td>{{item.key}}:</td><td>{{item.value}}</td></tr>
                        </tbody>
                </table>
        </div>
    </div>
      
      
      <div id="line"></div>
      <br>
  </div>
</div>