#container {
    position: absolute;
    left: 0;
    width: 350px;
    height: 70%;
    z-index: 4000;
    background: #303030;
    cursor: pointer;
    overflow: auto;
   
}

#piccontainer{
    padding: 8px;
}

#line {
    border-bottom: 1px solid #e6e6e6;
}

#sub {
    padding: 10px 10px 0;
}