<div class="grid">
    <div id="fowardWindow" #fowardWnw class="window info" style="position: absolute;z-index:3;display:none;left: 50%;margin-left: -250px; width:500px; height:400px;" >
        <div class="window-caption">
            <span class="window-caption-icon"><span class="mif-contacts-mail"></span></span>
            <span class="window-caption-title">Foward Ticket - {{(choosen) ? choosen.objectid : 0}}</span>
            <span (click)="closeFowardWindow()" class="btn-close"></span>
        </div>
        <div class="window-content" style="height: 90%;">
            <div class="listview">
                <div *ngFor="let user of app.users" class="list" style="height:60px;">
                   <button (click)="fowardTicket(user)" class="button">Foward<i class="fa fa-rocket"></i></button>
                    {{user.first_name + " " + user.last_name}}

                    <img class="pull-right" [src]="link + user.icon2" width="30" height="30" />
                </div>
            </div>  
        </div>
    </div> 

        <div id="menuAll" #rightMenu  class="window" style="position: absolute;display: none;z-index:3;top:0px; left:0px;width:120px; height:180px;">
          <div class="window-content" >
              <span (click)="closemenu()" class="place-right" style="cursor: pointer">
                <i class="fa fa-times-circle"></i>
              </span>
              <br>
              <div class="listview">
                <div (click)="rightMenuCLK('O')" class="list">
                  <i class="fa fa-folder-open list-icon"></i>
                  <span  class="list-title">Open</span>
                </div>
                <div  (click)="rightMenuCLK('F')" class="list">
                  <i class="fa fa-forward list-icon"></i>
                  <span class="list-title">Foward</span>
                </div>
                <div (click)="rightMenuCLK('D')" class="list">
                  <i class="fa fa-trash list-icon"></i>
                  <span class="list-title">Delete</span>
                </div>
              </div>
          </div>
        </div>
        <div class="row cells3">
          <div class="cell">
              <div class="window error" style="width: 400px;">
                <div class="window-caption">
                  <span class="window-caption-icon"><i class="fa fa-windows" aria-hidden="true"></i></span>
                  <span class="window-caption-title">Open Ticket's</span>
                  <div class="input-control text">
                      <input [(ngModel)]="searchAll"  type="text" placeholder="Search Customer" capitalize>
                  </div>
                  <div class="dropdown-button">
                    <button class="button rounded small-button dropdown-toggle">
                      <i class="fa fa-cogs"></i>
                    </button>
                    <ul class="split-content d-menu" data-role="dropdown">
                        <li (click)="changeOrganizationFilter(orga.organization_id)" *ngFor="let orga of app.organizations" style="cursor: pointer;"><a >{{
                         
                          ( orga.organization_name) ? ((orga.organization_name.length > 16) ? (orga.organization_name | slice:0:16) +'..' : orga.organization_name) : ''
                        }}</a></li>
                    </ul>
                </div>
                  
                </div>
                <div class="window-content"  style="height: 250px; cursor: pointer;">
                    <app-master-loading [regularLoading]="true" *ngIf="allLoading"></app-master-loading>
                  <div class="listview">
                    <div class="list" style="height: 100px;" (contextmenu)="onRightClick($event, customer)"  *ngFor="let customer of openTickets  | filtermine:searchAll" routerLink="/ticket/view/{{customer.id_ticket}}">
      
                        <img class="list-icon" style="border-radius: 50%;" [src]="customer.icon" width="50" height="48"  alt="Avatar Badge"> 
                        <div style="float:left;">
                            <span >{{customer.staff}} | <b>{{(customer.created_date) ? customer.created_date : ''}}</b></span>
                            <br>
                              <span>{{(customer) ? customer.objectid : 0}}</span>
                            <br>
                            <span  >{{
                              ((customer.cfirst_name) ? (((customer.cfirst_name.length > 9) ? (customer.cfirst_name | slice:0:9) +'..' : customer.cfirst_name) + ' ' + ((customer.clast_name.length > 9) ? (customer.clast_name | slice:0:9)+'..' : customer.clast_name)) : '')
                              }}</span>
                              
                        </div>
                        <div style="float:leaft">
                            <span class='place-right' style='text-align:center;'>
                           
                                <img style="border-radius: 50%;" [src]="customer.icon_transfer" width="50" height="46"  alt="Avatar Badge"> 
                             <br>
                             <label style="font-size:8px;">
                             {{customer.init}}
                             </label>
                           </span>
                        </div>
                       
                        
                    </div>
                  </div>
                </div>
              </div> <!-- End of Window -->
          </div>
        
          <div class="cell">
            <div class="window success"  style="width: 400px;">
              <div class="window-caption">
                  <span class="window-caption-icon"><i class="fa fa-windows" aria-hidden="true"></i></span>
                  <span class="window-caption-title">Working Ticket's</span>
                  <div class="input-control text">
                      <input [(ngModel)]="searchInbox"  type="text" placeholder="Search Customer" capitalize="" class="ng-pristine ng-untouched ng-valid ng-empty">
                  </div>
              </div>
              <div class="window-content" style="height: 250px; cursor: pointer;">
                  <app-master-loading [regularLoading]="true" *ngIf="allLoading"></app-master-loading>
                <div class="listview">
                  <div class="list" style="height: 100px;" (contextmenu)="onRightClick($event, customer)" *ngFor="let customer of inbox" routerLink="/ticket/view/{{customer.id_ticket}}">
                    <div style="float:left;">
                        <img class="list-icon" style="border-radius: 50%;" src="assets/msg.png" width="50" height="48"  alt="Avatar Badge"> 
                      <br>
                        <span>{{customer.objectid}}</span>
                      <br>
                      <span  >{{customer.cfirst_name + ' ' +  customer.clast_name}}</span>
                      <label class="switch-original ">
                        <input type="checkbox" [(ngModel)]="customer.letter_generated" disabled >
                        <span class="check"></span>
                      </label>
                    </div>
                    <div style="float:leaft">
                      <span class='place-right' style='text-align:center;'>
                     
                          <img style="border-radius: 50%;" [src]="customer.icon" width="50" height="50"  alt="Avatar Badge"> 
                       <br>
                       <label style="font-size:8px;">
                        {{customer.initials}}
                       </label>
                     </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="window error"> 
              <div class="window-caption">
                <span class="window-caption-icon"><i class="fa fa-windows" aria-hidden="true"></i></span>
                <span class="window-caption-title">Ready Ticket's</span>
                <div class="input-control text">
                  <input [(ngModel)]="searchMine" type="text" placeholder="Search Customer">
                </div>
              </div>
              <div class="window-content" style="height: 250px; cursor: pointer;">
                <div class="listview">
                  
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
