<div id="container">
    <div id="sub" *ngFor="let pick of picks; let i = index">
        <div id="piccontainer">
            <div class="image-container bordered">
                <div class="frame">
                    <span>{{pick.name}}</span>
                  <img [src]="pick.src">
                  <button (click)="removeElement(pick, i)" class="button rounded danger">Delete</button>
                  <button (click)="zoomPic(pick, i)" class="button rounded primary">Zoom</button>
                  <button (click)="uploadPic(pick)" class="button rounded primary">Upload</button>
                </div>
              </div>
        </div>
        
        
        <div id="line"></div>
    </div>
</div>
