<app-preview (close)="previewON = false;" [source]="source" *ngIf="previewON"></app-preview>
<app-master-loading  [regularLoading]="true" *ngIf="isLoading"></app-master-loading>
<app-editing (close)="editingOn = false;" [source]="selectedEditing" *ngIf="editingOn"></app-editing>
<h3  style="color:white">Worsheet Number: {{worksheetService.attributes.objectid}}</h3>
<div class="tabcontrol"  data-role="tabcontrol">
    <ul class="tabs">
        <li><a href="#worksheet">WORKSHEET</a></li>
        <li><a href="#lvsheet">LOCATION VALIDATION PROCESS</a></li>
        <li><a href="#dbsheet">DATABASE VALIDATION PROCESS</a></li>
        <li><a href="#gissheet">GIS VALIDATION PROCESS</a></li>
        <li><a href="#feed">COMMENTS FEED</a></li>
        <li><a href="#georef"> GEOREFERENCE</a></li>
        <li><a href="#attach">ATTACHMENTS</a></li>
       
    </ul>
    <div class="frames">
        
        <div class="frame ribbed-white" id="worksheet">
            <app-main-page></app-main-page>
        </div>  
       
        <div class="frame ribbed-white" id="lvsheet">
            <app-lv-page ></app-lv-page>
        </div>
        
        
        <div class="frame ribbed-white" id="dbsheet">
              <app-db-page></app-db-page>
        </div>
        
        <div class="frame ribbed-white" id="gissheet">
          <app-gis-page></app-gis-page>
        </div>
        <div class="frame ribbed-white" id="feed">
          
        </div>
        <div style="padding: 0;" class="frame ribbed-white" id="georef" ondragover="return false;"(dragenter)="handleDragEnter()"
            (dragleave)="handleDragLeave()"
            (drop)="handleDrop($event, true)">
            <app-leaflet-map [overlay]="overlay" [remove]="remove"></app-leaflet-map>
            <div>
               <canvas style="display: none;" #pdfCanvas id="the-canvas"></canvas>
            </div>
        </div>

        <div class="frame ribbed-white" id="attach" ondragover="return false;"(dragenter)="handleDragEnter()"
            (dragleave)="handleDragLeave()"
            (drop)="handleDrop($event, false)">
                <app-attach-page ></app-attach-page>
        </div>
    </div>
</div>