<div class="tabcontrol"  data-role="tabcontrol">
    <ul class="tabs">
        <li><a href="#worksheet">WORKSHEET</a></li>
        <li><a href="#lvsheet">LOCATION VALIDATION PROCESS</a></li>
        <li><a href="#dbsheet">DATABASE VALIDATION PROCESS</a></li>
        <li><a href="#gissheet">GIS VALIDATION PROCESS</a></li>
        <li><a href="#feed">COMMENTS FEED</a></li>
        <li><a href="#georef"> GEOREFERENCE</a></li>
    </ul>
    <div class="frames">
        
        <div class="frame ribbed-white" id="worksheet">
            <app-main-page></app-main-page>
        </div>  
       
        <div class="frame ribbed-white" id="lvsheet">
            <app-lv-page ></app-lv-page>
        </div>
        
        
        <div class="frame ribbed-white" id="dbsheet">
              <app-db-page></app-db-page>
        </div>
        
        <div class="frame ribbed-white" id="gissheet">
          
        </div>
        <div class="frame ribbed-white" id="feed">
          
        </div>
        <div class="frame ribbed-white" id="georef">
            <app-leaflet-map></app-leaflet-map>
        </div>
    </div>
</div>