<div >
    <label class="input-control checkbox">
         <input type="checkbox" >
         <span  class="check"></span>
         <span  class="caption">9-1-1 NET (MSAG) - Enter</span>
         <input type="text" >
    </label>
    <label class="input-control checkbox">
            <input type="checkbox" >
            <span  class="check"></span>
            <span  class="caption">UPDATE</span>
            <input type="text" >
       </label>
       <label class="input-control checkbox">
            <input type="checkbox" >
            <span  class="check"></span>
            <span  class="caption">VERIFIED</span>
            <input type="text" >
       </label>
       <br>
       <br>
       <br>
      
</div>
<div >
    <label style="width: 431px;" class="input-control checkbox">
         <input type="checkbox" >
         <span  class="check"></span>
         <span  class="caption">Plat Scan - Enter</span>
         <input  type="text" >
    </label>
    <label class="input-control checkbox">
            <input type="checkbox" >
            <span  class="check"></span>
            <span  class="caption">UPDATE</span>
            <input type="text" >
       </label>
       <label class="input-control checkbox">
            <input type="checkbox" >
            <span  class="check"></span>
            <span  class="caption">VERIFIED</span>
            <input type="text" >
       </label>
       <br>
       <br>
       <br>
      
</div>


<hr>

<div class="input-control text full-size">
    <input type="text" placeholder="Date Sign Off" uppercase>
   
</div>
<div class="input-control text full-size">
        <input type="text" placeholder="Sign Off By" uppercase>
       
    </div>