<div #window class="window" style="position: absolute;top: 8px;left:4px; z-index:2000;width: 99%;height:95%;">
  <div class="window-caption">
    <span class="window-caption-icon"><i class="fa fa-gamepad" aria-hidden="true"></i></span>
    <span class="window-caption-title">Map Viewer</span>
    <span class="pull-right">
        <button (click)="closeMap()" class="button btnSize">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
      </span>
    <span class="pull-right">
      <button (click)="maximizeMap()" class="button btnSize">
          <i class="fa fa-window-restore" aria-hidden="true"></i>
      </button>
    </span>
    <span class="pull-right">
      <button (click)="minimizedMap()" class="button btnSize">
          <i class="fa fa-window-minimize" aria-hidden="true"></i>
      </button></span>
  </div>
  <div class="window-content" style="overflow: hidden;">
    <app-master-loading [regularLoading]="true" *ngIf="isLoading"></app-master-loading>
    <app-full-screen-pick *ngIf="enabledFullScreenPic" [src]="selectedPic" (onClose)="enabledFullScreenPic = false" ></app-full-screen-pick>
    <app-quick-pick-tools *ngIf="quickPickEnabled" [pic]="selectedPic" (closeOutput)="quickPickEnabled = false"></app-quick-pick-tools>
    <div #map id="map" >

    </div>
  </div>
</div>
