.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flashit{
    color:#f2f;
      -webkit-animation: flash linear 1s infinite;
      animation: flash linear 1s infinite;
  }

  .point {
    cursor: pointer;
  }

  @-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}