.card {
    padding: 0.01em 18px;
    width: 92%;
    max-width: 300px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

}

.attach {
    border: 2px dashed #0087F7;
    width: 98%;
    height: 400px;
    text-align: center;
    margin:0 auto;
    border-radius: 5px;
}

.cardColor {
    border: 1px solid blueviolet;
}