<div class="grid condensed demo-grid">
  <div  class="row cells3">
      <div  class="cell">
        <div class="card">
            <div></div>
            <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
          <small>Name</small>
        </div>
      </div>
      <div class="cell">
        <div class="card">
            <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
          <small>Name</small>
        </div>
      </div>
      <div class="cell">
        <div class="card">
            <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
          <small>Name</small>
        </div>
      </div>
      <div style="margin-top: 20px;" class="cell">
          <div class="card">
              <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
            <small>Name</small>
          </div>
        </div>
  </div>
  
  
</div>

