
<div class="grid condensed demo-grid" [ngClass]="{'attach': noAttachs}">
  <h2 *ngIf="noAttachs" style="margin: 0 auto;vertical-align: middle; color: rgb(179, 171, 171);">Drop files here</h2>
  <div *ngFor="let pics of groupPics" style="margin-top:30px;" class="row cells3">
      <div *ngFor="let pic of pics" class="cell">

        <div [ngClass]="{'cardColor': pic.selected}" style="cursor:pointer;" class="card">
            <div></div>
            <img (click)="onPreview(pic)" [src]="pic.source"  style="width:100%;height: 300px;">
          <small>{{pic.name}}</small>
          <br>
          <button class="button info" (click)="onRotate(pic)"><i class="fa fa-retweet"></i></button>
          <button class="button info" (click)="changeGeo(pic)"><i class="fa fa-globe"></i></button>
          <button class="button info" (click)="onEdit(pic)"><i class="fa fa-edit"></i></button>
          <button class="button danger"(click)="removeItem(pic)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
  </div>
  
  
</div>

